<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SuiteSeekers">
	<listeners>
		<listener class-name="resources.ExtentReporterNG"/>
	</listeners>
  <test thread-count="5" name="TestSeekers">
    <classes>
	  <class name="MavenFramework.GetRequest"/>
	  <class name="MavenFramework.GetRequestOne"/>
      <class name="MavenFramework.PostRequest"/>
 	  <class name="MavenFramework.PutRequest"/>
      <class name="MavenFramework.DeleteRequest"/>
    </classes>
  </test> <!-- TestSeekers -->
</suite> <!-- SuiteSeekers -->
